body{
  line-height:1.7em;
}

li {
  text-align:-webkit-match-parent;
}

a {
  text-decoration:none;
  color:#21759b;
}

form {
  display:block;
  margin-top:0em;
}

p {
  display:block;
}

input, select {
  padding:3px;
  border-radius:3px;
  border-width:1px;
  border-style:solid;
}

input[type="text"] {
  border-color:#dfdfdf;
  background-color:#fff;
  color:#333;
}


table {
  border-radius:3px;
  background-color:#f9f9f9;
  border-collapse:collapse;
  border-spacing:0px;
  border-color:#dfdfdf;
}

thead {
  display:table-header-group;
  vertical-align:middle;
  border-color:inherit;
}

.button {
  background:#f3f3f3; 
  background-image:-webkit-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image:linear-gradient(to bottom, #fefefe, #f4f4f4);
  color:#333;
  border:1px solid #bbb;
  border-radius:3px;
  padding:2px 10px 2px 10px;
}

.header_banner {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:35px;
  background-color:#444;
}

.wrapper {
  position:absolute;
  top:35px;
  left:0;
}

.clear {
  clear:both;
}
.sidebar {
  float:left;
  width:150px;
  padding-left:2em;
  overflow:auto;
}

.maincontent {
  width:auto;
  margin-left:150px;
  padding-left:2em;
}

.content_wrapper {
  margin:4px 10px 0 0;
}

.content_wrapper h2 {
  font-weight:normal;
  font-size:23px;
  color:#464646;
  padding:9px 15px 4px 0;
  line-height:29px;
  margin:0;
}

.content_wrapper  .add_new {
  background:#f1f1f1;
  margin-left:4px;
  position:relative;
  top:-3px;
  padding:3px 8px;
  text-decoration:none;
  font-size:12px;
  border:0 none;
  border-radius:3px;
  border-style:solid;
  border-width:1px;
  color:#217596;
}


ul.overall {
  color:#444;
  list-style:none;
  margin:8px 0 5px;
  padding:0;
  font-size:12px;
  float:left;
}

.overall li {
  display:inline-block;
  margin:0;
  padding:0;
  white-space:nowrap;
}

.overall a {
  line-height:2;
  padding:.2em;
  text-decoration:none;
}

p.search_box {
  float:right;
  margin:0;
}

.search_box input[type="text"]{
  float:left;
  height:25px;
  margin:0 4px 0 0;
}


.search_box .button {
  display:inline-block;
  margin:0;
  padding:0 10px  1px;
  border-radius:3px;
  height:33px;
}

table.post {
  width:100%;
  font-weight:normal;
  display:table;
  overflow:auto;
  margin:0;
  border-width:1px;
  border-style:solid;
  table-layout:fixed;
  word-wrap:break-word;
}

table.post thead th {
  font-weight:normal;
  padding:10px 0 10px 0;
  color:#333;
  background:#f1f1f1;
  background-image:linear-gradient(to top, #ececec, #f9f9f9);
}


table.post td{
  font-weight:normal;
  border-bottom:1px solid #dfdfdf;
}

span.post-state {
  font-size:14px;
  font-weight:normal;
  color:#666;
}


table.post th {
  border-bottom:1px solid #dfdfdf;
  line-height:1.3em;
  font-size:14px;
  text-align:left;
}

table.post .postcol  {
  width:2.2em;
  vertical-align:top;
}

table.post th#cb {
  width:5px;
}

table.post th#title {
  width:10%;
}

table.post tbody {
  display:table-row-group;
}

table.post strong {
  font-weight:bold;
}

table.post .row_action {
  font-weight:normal;
  font-size:10px;
}


table.post .post_date {
  font-style:italic;
  font-weight:normal;
  font-size:14px;
  color:#999;
  line-height:1.2em;
}


.post-body-content {
  width:100%;
  float:left;
  margin-bottom:20px;
}

.titlebar {
  border-color:#dfdfdf;
  border-radius:3px;
  font-size:1.2em;
  margin-top:10px;
  margin-bottom:20px;
}


.title_prompt_text {
  color:#bbb;
  position:absolute;
  vertical-align:middle;
  padding:8px 10px;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.postbody input[type="text"] {
  background-color:#fff;
  padding:3px 8px;
  line-height:100%;
  font-size:1.2em;
  width:100%;
  outline:none;
}
.add_media_wrapper .add_media {
  padding-left:0.4em;
  margin-right:5px;
  background:#f3f3f3;
  background-image:-webkit-linear-gradient(to bottom, #fefefe, #f4f4f4);
  background-image:linear-gradient(to bottom, #fefefe, #f4f4f4);
  box-sizing:border-box;
  display:inline-block;
  line-height:23px;
  text-decoration:none;
}



.richeditor {
  margin-top:10px;
}


.postbox-container {
  float:right;
  margin-right:-300px;
  width:280;
}

.postbox {
  background:#f5f5f5;
  background-image:-webkit-linear-gradient(to top, #f5f5f5, #f9f9f9);
  background-image:linear-gradient(to top, #f5f5f5, #f9f9f9);
  border:1px #dfdfdf solid;
  border-radius:3px;
  margin-bottom:20px;
  position:relative;
  min-width:255px;
}

.postbox h3 {
  font-size:15px;
  font-weight:normal;
  padding:3px 10px;
  margin:0;
  background:#f1f1f1;
  background-image:-webkit-linear-gradient(to top, #ececec, #f9f9f9);
  background-image:linear-gradient(to top, #ececec, #f9f9f9);
  color:#464646;
}


.inside {
  background-color:#f9f9f9;
  font-weight:normal;
}

#publishing {
  border-bottom-width:1px;
  border-color:#dfdfdf;
}

#publishing_action {
  padding-top:10px;
  padding-bottom:10px;
}

.save_action {
  text-align:center;
  float:left;
  margin:5px;
}

.save_action .button {
  font-size:14px;
}
.preview_action{
  text-align:center;
  float:right;
  margin:5px;
}

.preview_action .preview {
  font-size:14px;
}


#delete_action {
  font-size:14px;
  float:left;
  margin:5px;
}

#delete_action a {
  text-decoration:underline;
  color:red;
}

#publish_action {
  font-size:20px;
  float:right;
  margin:5px;
}

.button_large {
  color:white;
  font-weight:bold;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(51, 188, 239)), to(rgb(1, 154, 210)));
  background:-moz-linear-gradient(top, rgb(51, 188, 239), rgb(1, 154, 210));
  border:1px solid rgb(5, 126, 208);
  height:30px;
}


.categorylist {
  margin:8px;
  background-color:#ffffff;
  border:1px solid #bbb;
  border-radius:3px;
}

.categorylist .listitem {
  margin:6px;
}

.categorylist span {
  font-weight:normal;
  font-size:14px;
  padding-left:6px;
}
