<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} </title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}global.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}post.css" />
</head>
<body style="color:#444;background-color:#e6e6e6;font-family:sans-serif">
  <div class="page">
    <div class="header">
      <h1 class="blog-title">Justin's Thoughts</h1>
      <h5 class="blog-desc">Just my idle thoughts</h5>
    </div>
    <div class="menu">
      <hr />
      <ul class="menu">
        <li><a href="/" class="title-menu-item">Home</a></li>
        <li><a href="/about/" class="title-menu-item">About</a></li>
      </ul>
      <hr />
    </div>
    
    <div class = "maincontent">
      <div class = "sidebar">
        <div class = "widget widget_form">
          <form action="/blog/search/" method="get" class = "search">
            <p><input type="text" name="q" class="search text"/>
            <input type="submit" value="search" class = "search  button"></p>
          </form>
        </div>
        <div class = "widget widget_recent_post">
          <p class = "widget_title">RECENT POST</p>
          <p class = "widget_content">{% if recent_post %}<a href="{{recent_post.get_abs_url}}">{{ recent_post.title }}</a>{% else %}There is no post{% endif %}</p>
        </div>
        <div class = "widget widget_recent_reply">
          <p class = "widget_title">RECENT POST</p>
          <p class = "widget_content">{% if recent_reply %}<a href="{{recent_reply.get_post_url}}">{{ recent_reply.name }} on {{recent_reply.post}}</a>{% else %}There is no reply{% endif %}</p>
        </div>
        <div class = "widget widget_archive">
          <p class = "widget_title">ARCHIVE</p>
          <ul class = archive_list>
            {% for archive in archives %}
            <li><a href = "/blog/{{archive.created_date|date:"Y"}}/{{archive.created_date|date:"m"}}">{{ archive.created_date|date:"M Y"}}</a></li>
            {% endfor %}
        </div>
        <div class = "widget widget_category">
          <p class = "widget_title">CATEGORY</p>
          <ul class = 'category_list'>
            {% for category in categories %}
            <li><a href="/blog/category/{{ category.name }}/">{{ category.name }}({{category.get_num}})</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class = "content">
        {% block content %}
        {% endblock %}
      </div>
      <div style="clear:both;"></div>
      <div class = "footer">
        <hr />
        <p><a href="http://www.djangoproject.com">Powered by Django</a></p>
      </div>
    </div>
  </div>
</body>
</html>
