{% extends "blog/base.html" %}

{% block title %}Blog Archive{% endblock %}

{% block content %}
  {% for post in posts %}
  <div class = "post" >
    <div class = "title">
      <h3>
        <a href="{{ post.get_abs_url }} " >
        {{ post.title|safe }}
        </a>
      </h3>
    </div>
    <div class = "info">
      <span class = "item">
        {{post.get_reply_num}} Reply
      </span>
      <span class = "item">
        {{post.get_visit_num}} Visited
      </span>
    </div>
    <div class = "blog_content">
      <p>{{ post.content|slice:":255"|safe }}</p>
    </div>
    <div class ="footer">
      <p>This entry is posted on <a href="/blog/{{post.created_date|date:"Y"}}/{{post.created_date|date:"m"}}/{{post.created_date|date:"d"}}/">
        {{post.created_date|date}}
      </a></p>
      {% if not forloop.last %}
      <hr />
      {% endif %}
    </div>
  </div>
  {% endfor %}
{% endblock %}
