#page {
  margin-left:auto;
  margin-right:auto;
  margin-top:4em;
  margin-bottom:4em;
  max-width:960px;
  max-width:68rem;
  background-color:#fff;
  padding-left:2em;
  padding-top:1em;
  padding-right:2em;
  padding-bottom:2em;
  box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
a {
  text-decoration:none;
}
div.header {
  display:inline-block;
  font-family:Georgia, serif;
}
.title {
  font-weight:bold;
  line-height:1.8;
  color:#515151;
}
.desc {
  color:#757575;
}

hr {
}

ul.menu {
  list-style-type:none;
  margin:0;
  padding:0;
}

.menu a:link, a:visited {
  display:block;
  width:60px;
  font-weight:bold;
  padding:4px;
}

.menu li {
  position:relative;
  display:inline-block;
}

