.header_banner {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:35px;
  background-color:#444;
}


.page {
  margin-left:auto;
  margin-right:auto;
  margin-top:4em;
  margin-bottom:4em;
  max-width:960px;
  max-width:68rem;
  background-color:#fff;
  padding-left:2em;
  padding-top:1em;
  padding-right:2em;
  padding-bottom:2em;
  box-shadow:0 2px 6px rgba(100, 100, 100, 0.3);
}
a {
  text-decoration:none;
}

a:link, a:visited {
  color:#999999;
}

a:hover {
  color:#000000;
}

div.header {
  display:inline-block;
  font-family:Georgia, serif;
}

.blog-title {
  font-weight:bold;
  line-height:1.8;
  color:#515151;
}
.blog-desc {
  color:#757575;
}

hr {
  border:0;
  height:1px;
  background:#ffffff;
  box-shadow:0px 1px 0px #e0e0e0;
}

ul.menu {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.menu a:link, a:visited {
  display:block;
  width:60px;
  font-weight:bold;
  padding:4px;
}

ul.menu li {
  position:relative;
  display:inline-block;
}
.maincontent {
  padding-top:2em;
  overflow:hidden;
}

.content {
  float:none;
  width:auto;
  overflow:hidden;
  padding-right:3em;
}

.sidebar {
  float:right;
  width:300px;
}


.footer p {
  font-family:Monospace;
  font-size:10px;
  font-style:italic;
}


.text {
  border:1px solid #bbb;
  padding-left:10px;
  padding-right:1px;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:3px;
  outline:none;
  font-family:Monospace;
}

.nondisplay {
  display:none;
}

.text.search {
  height:20px;
}


.button {
  border-radius:3px;
  height:28px;
  font-family:sans-serif;
  font-size:15px;
  cursor:pointer;
  color:white;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgb(51, 188, 239)), to(rgb(1, 154, 210)));
  background:-moz-linear-gradient(top, rgb(51, 188, 239), rgb(1, 154, 210));
  border:1px solid rgb(5, 126, 208);
}

.buttom.search {
  width:70px;
}
.widget {
  padding-left:8px;
  margin-bottom:5em;
}

.widget_title {
  font-family:Monospace;
  font-weight:bold;
  font-size:0.7em;
  margin-bottom:1.7em;
  line-height:1.7;
  color:#909090;
}

.widget_content {
  font-family:Helvetica, Arial;
  font-size:15px;
  line-height:2;
  color:#404040;
}

.widget_content a {
  text-decoration:underline;
  color:#555555;
}
