.post .title {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

.post .title a {
  font-weight:normal;
}

.post .title a:link, a:visited {
  color:#217596;
}

.post .title a:hover {
  color:#555555;
  font-weight:bold;
}

.post .info {
  padding-top:4px;
  padding-bottom:2em;
}

.post .info .item {
  padding-right:2em;
  font-family:Arial, serif;
  font-size:4px;
  color:#5f5f5f;
}
.post .blog_content {
  font-family:"Open Sans", Arial, sans-serif;
  margin-right:4em;
}

.post .blog_content p {
  line-height:1.7;
  color:#282828;
}

.post .footer {
  padding-top:4px;
  margin-bottom:4em;
  margin-right:4em;
}
.post .footer p {
  font-family:Arial, serif;
  font-size:10px;
  line-height:1.7;
  font-style:italic;
}

.prev_next_bar{
  font-style:italic;
  font-size:10px;
  font-family:Arial, sans-serif;
  margin-bottom:4em;
}

.prev_next_bar span {
  width:50%;
  float:left;
}

.next_link {
  text-align:right;
}
.reply_form label {
  display:block;
  line-height:1.7em;
  color:#444;
  font-size:100%;
  vertical-align:baseline;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

.reply_form input.text {
  width:50%;
  height:30px;
}


textarea {
  width:90%;
  line-height:1.7em;
  padding-top:10px;
}

